h1 {
    font-size: 4em;
}

h2 {
    font-size: 8em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mediaBox {
    display: flex;
    flex-direction: row;
}
